<h1>Profiles#new</h1>
<p>Find me in app/views/profiles/new.html.erb</p>

<%= form_with(model: @profile, local: true) do |form| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: Profile, count: @profile.errors.count) %></h2>
      <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :introduction%>
    <%= form.text_area :introduction, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code, autofocus: true,class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
