<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: Book, count: book.errors.count) %></h2>
      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title ,autofocus: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author,autofocus: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo,autofocus: true, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture ,autofocus: true%>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
